/* $Id: filefield_sources.css,v 1.1 2009/04/17 00:20:12 quicksketch Exp $ */

/* Generic display for all sources. */

div.filefield-source input.form-text {
  display: inline;
  width: 28em;
}

div.filefield-source input.hint {
  color: #999;
}

div.filefield-sources-list a.active {
  font-weight: bold;
}

/* Reference source. */
div.filefield-source-reference-item {
  font-size: 90%;
}

/* Remote source. */
div.filefield-source-remote input.form-text {
  /* Helps with display consistency since references has a background. */
  background-image: inherit;
}
